* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif; /* Font updated to Outfit */
  margin: 0;
  padding: 0;
  background-color: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 9px 20px;
  background-color: transparent; /* Ensure header is transparent for video visibility */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2; /* Ensure header is above video */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60vw;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #c4c8d4;
  opacity: 1;
  animation-delay: 0.5s;
}


nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}


nav ul li a:hover {
  background-color: #fb845d;
  color: #fff;
}

/* ---------------------Call us button----------------------- */

.call-us {
  background-color: #fb845d;
  color: #fff;
  font-weight: bold;
  border: none;
  width: 100px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.call-us:hover {
  background-color: #e0240b;
}

.call-us-btn {
  background-color: #f95c3c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 120px;
  cursor: pointer;
}

.call-us-btn:hover {
  background-color: #e0240b;
}

.call-us-btn2 {
  background-color: #3575aa;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 150px;
  cursor: pointer;
}

.call-us-btn2:hover {
  background-color: #95a1bb;
}

/* Ensure the video covers the entire section */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Ensure the video is behind other content */
}

video#background-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure the video covers the area without distortion */
}

/* Ensure the content of welcome-section is properly displayed on top of the video */
.welcome-section {
  position: relative; /* Set positioning context for the video */
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure it covers the full viewport height */
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; /* Adjust text color if needed */
  padding: 20px;
}

.welcome-text h1 {
  font-size: 3.5em;
  color: #fff; /* Ensure the text color contrasts with the video background */
  line-height: 1.2;
  margin-bottom: 50px;
}

.welcome-text p {
  font-size: 1.2em;
  color: #fff; /* Ensure the text color contrasts with the video background */
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .welcome-text h1 {
    font-size: 2.5em;
    text-align: center;
  }

  .welcome-text p {
    font-size: 1em;
    text-align: center;
  }

  .robot-img img {
    width: 300px;
    margin-top: 20px;
  }

  .welcome-section {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .welcome-text h1 {
    font-size: 2em;
  }

  .robot-img img {
    width: 100%;
    max-width: 250px;
  }
}

.clients {
  text-align: center;
  padding: 40px 20px;
  padding-top: 12%; /* Add padding to the top */
}

.clients h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.client-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.client-logos img {
  max-height: 200px;
  max-width: 200px;
}

.container {
  max-height: 90vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items horizontally */
  align-items: center;     /* Center items vertically */
  gap: 20px;
  background-color: white;
}

.top-text {
  flex-basis: 10%;
}

.heading {
  font-size: 2.4rem;
  color: black;
  padding-top: 30%;
  text-align: center;
  font-weight: 500;
}

.gallery {
  flex-basis: 50%;
  display: grid;
  gap: 17px;
  width: 80vw;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 14vh);
}

.box {
  background-size: cover;
  background-position: top;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  transition: background-position 0.5s ease;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.box:hover {
  background-position: bottom;
}

/* Adjust the box spans */
.row-2 {
  grid-row: span 2;
}
.row-3 {
  grid-row: span 3;
}
.row-4 {
  grid-row: span 4;
}
.row-5 {
  grid-row: span 5;
}

.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}

/* Media query for width <= 1024px */
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding-block: 20px;
  }
  .gallery {
    width: 100%;
    gap: 0px;
    padding-inline: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 60px);
  }
  .box {
    grid-row: span 1;
    grid-column: span 1;
    height: 50px;
  }
}
